<div class="col-xs-12 col-sm-4">
  <div class="projet margin-top">
    <div class="text-center">
      <%= link_to projet_path(projet) do %>
        <% if projet.picture.url %>
            <%= image_tag projet.picture.special, class: "centered" %>
        <% end %>
        <h3><%= projet.nom %></h3>
      <% end %>
      <strong class="text-center"><%= projet.objectif %>€</strong>

    </div>
    <%= projet.description %><br/>
    <%= render 'projets/progress_bar', projet: projet %>
    <%= render 'projets/done', projet: projet %>
  </div>
</div>

