<div class="col-xs-12 col-sm-4">
  <div class="projet margin-top panel panel-default">
            <%# if projet.picture.url %>
            <%= image_tag picture_special, class: "centered" %>
        <%# end %>
    <div class="text-center panel-body">
      <%= link_to projet_path(projet) do %>

        <h3><%= truncate(projet.nom, length: 40) %></h3>
      <% end %>
      <strong class="text-center"><%= number_to_currency projet.objectif, locale: :fr %></strong>
      <div class="description">
        <%= truncate(projet.description, length: 205) %>
      </div>
      <%= render 'projets/progress_bar', projet: projet %>


    </div>

  </div>
</div>

