<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8  text-center margin-top">
      <%# if @projet.picture.url %>
            <%= image_tag picture_thumb, class: "full_img" %>
        <%# end %>
      <div class="margin-top">
        <%= @projet.description %><br/>

      </div>

    </div>
    <div class="col-xs-12 col-sm-4 margin-top">
      <div class="projet padding-10">
        <h3 class="margin-top text-center"><%= @projet.nom %></h3>
        <%= render 'progress_bar', projet: @projet %>

        <h4 class="text-center"><%= @projet.percent %>%</h4>
        <%= render 'done', projet: @projet %>


        <p>Objectif : <strong><%= @projet.amount_contributed %>€ / <%= @projet.objectif %>€</strong></p>
        <span class="text-center blue">J-<%= @projet.days_left %></span>
        <p>Porteur : <strong><%= @projet.user.email %></strong></p>
        <% if user_signed_in? %>
          <div class="text-center">
            <% if @projet.contributable? %>
              <%= link_to 'Contribuer', new_projet_contribution_path(@projet), class: 'btn btn-success margin-top' %>
            <% end %>
          </div>
        <% end %>
      </div>
        <div class="projet margin-top">
          <h3 class="text-center"> Participations : </h3>
          <%= render @contributions %>
        </div>

      </div>

    </div>

  </div>
</div>



