<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

   <%= link_to root_path do %>
      <i class="fa fa-home fa-4x"></i>
    <% end %>
    <div class="navbar-wagon-pusher"></div>


   <!--  <form action="" class="navbar-wagon-search hidden-xs hidden-sm">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->
    <!-- <hr class="hidden-xs hidden-sm"> -->
      <%# link_to "#", class: "navbar-wagon-item navbar-wagon-link hidden-xs" do %>
        <!-- <div class="icon-badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="icon-badge icon-badge-blue">3</div>
        </div> -->
      <%# end %>
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <i class="fa fa-user fa-2x" data-toggle= "dropdown"></i><strong>Menu</strong>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <hr>
    <%= link_to 'Create a project', new_projet_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>
  </div>
</nav>
